.App {
  text-align: center;
  
}
body{
  background-image: url("https://media.istockphoto.com/id/1169630303/photo/blue-textured-background.webp?b=1&s=170667a&w=0&k=20&c=tI2xFhXqXFqMM0IvxSYY3F7LIwv450h2ch3yD-lZ9HU=");
  background-size: cover;
  background-repeat: no-repeat;
}

form{
  display: inline-block;
  color:white;
  font-size: 1.5rem;
  padding: 5px;
  border: 2px solid white;
}
form label{
  display: inline-block;
  width: 150px;
}

form div{
  margin: 15px;
}
.image{
  height: 200px;
  width: 200px
}
.profilePic{
  height:200px;
  width:200px;
  border-radius: 50px;
}

nav{
  background-color: gold;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
a {
  font-size: 1.5rem;
}
h2{
  background-color: whitesmoke;
  color: crimson;
  display: inline-block;
  border-radius: 10px;
  font-family: cursive;
}
h1{
  color: deeppink;
}
button{
  background-color:green;
  color: white;
}